


header{     
	height:700px;     
	background-image:url("head..jpg");
    background-size: cover;
    letter-spacing: 0.05em;
     }
     nav.navbar.navbar-default{
    background:none;
    border: none;
    }
    nav.navbar.navbar-default a{
    	font-size: 1.75em;
    }
   #navcol-1 a{
    padding-left: 0;
    padding-right: 0;
    margin-left: 30px;
    background: none;
}
.container .B p.red{
	 	color: #00FF00;
	 	font-size: 30px;
	 	margin-top: 20%;
	 	font-weight: 500;
	    font-family: 'Cabin Sketch', cursive;
}
.text-title{
	color: white;
}
h1.hc{
	font-family: 'Bungee', cursive;
	color: white;
	margin-top: 80px;
	font-size: 80px;
}
li .hd{
   color: white;	
}
nav .navbar-right a{
	color: white!important;
}
nav .navbar-right a:hover {
    background-color: #76FF03!important;
    border-radius: 20px;
}
 @media screen and (max-width: 700px) {
    header {
        height: auto;
    }
}
.button {
  border-radius: 50px;
  background-color: #76FF03;
  color: #FFFFFF;
  font-size: 40px;
  text-align: center;
  width: 200px;
  height: 60px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 40px;
}
.but{
	font-size: 100px;
}
.mga{
	margin-top: 50px;
}
.mgaa{
	margin-top: 40px;
}
.jsi{
	margin-left: 100px;
}
.space{
	margin-left : 0.5em;
}
.tc{
	border: 2px solid black; 
}
.nj{
	border-radius: 50px;
	height: 30px;
	width: 30px;
}
.cd3{
  margin-top: 4%;
}
.cd2{
  margin-top: 4%;
}
.cd1{
  margin-top: 4%;
}
.cd{
  margin-top: 4%;
}
h1.fnt{
    font-family: 'Vollkorn SC', serif;
}
p.bdn{
	font-weight: 800!important;
	font-size: 17px;
}
p.bdn1{
	font-weight: 800!important;
	font-size: 15px;
}
h2{
	color: black;
}
#myCarousel{
	width: 70%;
}
.btn3d.btn-primary {
    box-shadow:0 0 0 1px #417fbd inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #4D5BBE, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:red;
}
.btn3d {
    position:relative;
    top: -6px;
    border:0;
     transition: all 40ms linear;
     margin-top:10px;
     margin-bottom:10px;
     margin-left:2px;
     margin-right:2px;
}

.btn3d:active, .btn3d.active {
    top:2px;
}

.btn3d.btn-primary {
    box-shadow:0 0 0 1px #417fbd inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #4D5BBE, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:black;
}
.btn3d.btn-primary:active, .btn3d.btn-primary.active {
    box-shadow:0 0 0 1px #417fbd inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color:black;
}
.bgf{
	background-color: black;
	height: 70px;
}
@media only screen and (max-width: 500px) {
   h1.hc{
      font-size: 40px;
}
}
@media only screen and (max-width: 768px) {
header{
	height: auto;
	padding-bottom: 10%;
}
}
#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color: green;
    display:none;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius:60px;
    text-indent: -9999;
    z-index: 2;
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff
}
#scroll:hover {
    background-color:red;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}
.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
   font-size: 20px;
}
